<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}} | Reclaimed App</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Erilisdesign.com" />

  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="stylesheets/utilities.css" />

  <link rel="stylesheet" href="stylesheets/custom.css" />

  <link rel="stylesheet" href="stylesheets/slick.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/vegas.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/featherlight.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/featherlight.gallery.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/fontawesome/all.min.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/themify-icons.css" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7CMRoboto:300,400,500,700"
    rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
  <link rel="manifest" href="images/favicon/site.webmanifest" />
</head>

<body>
  <div id="preloader" class="preloader preloader-dark">
    <div class="loader-status">
      <div class="circle-side"></div>
    </div>
  </div>

  <!-- Global Overlay -->
  <div class="global-overlay shadow-9">
    <div class="overlay-inner bg-image-holder bg-cover">
      <img src="images/background.jpg" alt="background" />
    </div>
    <div class="overlay-inner bg-gradient-r opacity-75"></div>
    <div class="frame">
      <div class="frame-inner frame-inner-a bg-white"></div>
      <div class="frame-inner frame-inner-b bg-white"></div>
    </div>
  </div>

  <div class="site-container">
    {{{body}}}
  </div>

  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <script src="javascripts/jquery.validate.min.js"></script>
  <script src="javascripts/jquery.form.min.js"></script>
  <script src="javascripts/jquery.detect_swipe.min.js"></script>
  <script src="javascripts/featherlight.min.js"></script>
  <script src="javascripts/featherlight.gallery.min.js"></script>
  <script src="javascripts/jquery.countdown.min.js"></script>
  <script src="javascripts/granim.min.js"></script>
  <script src="javascripts/slick.min.js"></script>
  <script src="javascripts/vegas.min.js"></script>
  <script src="javascripts/jquery.mb.YTPlayer.min.js"></script>

  <script src="javascripts/main.js"></script>

  <script type="text/javascript">
    $(function () {
      $("#year").text(new Date().getFullYear());
    });
  </script>
</body>

</html>